<div class="container">
  <h2 class="titulo">Extratos</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="titulo">Data:</th>
      <th class="titulo">Valor:</th>
      <th class="titulo">Destino:</th>
    </thead>
    <tbody class="tabela__conteudo">
      <tr class= "tabela__conteudo__linha" *ngFor="let transf of transfs">
        <td>{{transf?.data | date:'short'}}</td>
        <td>{{transf?.valor | currency}}</td>
        <td>{{transf?.destino}}</td>
      </tr>
    </tbody>
  </table>
</div>
